/*
 * Device Tree overlay for Mellow fly TFT 3.5" resistive touchscreen
 *
 */

/dts-v1/;
/plugin/;

/ {
        compatible = "brcm,bcm2835",
                     "brcm,bcm2708",
                     "brcm,bcm2709",
                     "brcm,bcm2711";

        fragment@0 {
                target = <&spi0>;
                __overlay__ {
                        status = "okay";
                };
        };

        fragment@1 {
                target = <&spidev0>;
                __overlay__ {
                        status = "disabled";
                };
        };

        fragment@2 {
                target = <&spidev1>;
                __overlay__ {
                        status = "disabled";
                };
        };

        fragment@3 {
                target = <&gpio>;
                __overlay__ {
                        pitft_pins: pitft_pins {
                                brcm,pins = <24 6 26 19 13>; /* TH-INT TH-RST DC RST BLK */
                                brcm,function = <0 1 1 1 1>; /*   in    out   out out out */
                                brcm,pull = <2 2 0 0 2>; /* pullup none */
                        };
                };
        };

        fragment@4 {
                target-path = "/soc";
                __overlay__ {
                        backlight: backlight {
                                compatible = "gpio-backlight";
                                gpios = <&gpio 13 1>;
                                status = "okay";
                        };
                };
        };

        fragment@5 {
                target = <&spi0>;
                __overlay__ {
                        /* needed to avoid dtc warning */
                        #address-cells = <1>;
                        #size-cells = <0>;

                        pitft: pitft@0 {
                                compatible = "mellow,fly-tft-v2";
                                pinctrl-names = "default";
                                pinctrl-0 = <&pitft_pins>;
                                reg = <0>;

                                spi-max-frequency = <120000000>;
                                rotation = <90>;
                                reset-gpios = <&gpio 19 0>;
                                dc-gpios = <&gpio 26 0>;
                                backlight = <&backlight>;
                                status = "okay";
                        };

                        xpt2046: xpt2046@1 {
                                compatible = "ti,ads7846";
                                reg = <1>;

                                spi-max-frequency = <1000000>;
                                interrupt-parent = <&gpio>;
                                interrupts = <24 2>; /* high-to-low edge triggered */
                                pendown-gpio = <&gpio 24 0>;
                                ti,keep-vref-on = <1>;
                                ti,x-min = /bits/ 16 <3900>;
                                ti,x-max = /bits/ 16 <200>;
                                ti,y-min = /bits/ 16 <200>;
                                ti,y-max = /bits/ 16 <3900>;
                                ti,x-plate-ohms = /bits/ 16 <60>;
                                ti,pressure-max = /bits/ 16 <255>;
                                ti,swap-xy = <1>;
                                status = "okay";
                        };
                };
        };

        __overrides__ {
                speed =   <&pitft>,"spi-max-frequency: 0";
                rotation =  <&pitft>,"rotation: 0";
        };
};