/*
* Device Tree overlay for Mellow fly TFT 3.5" capacitive touchscreen
*
*/

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835",
	"brcm,bcm2708",
	"brcm,bcm2709",
	"brcm,bcm2711";
	
	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};
	
	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};
	
	fragment@2 {
		target = <&gpio>;
		__overlay__ {
			pitft_pins: pitft_pins {
				brcm,pins = <24 6 26 19 13>; /* TH-INT TH-RST DC RST BLK */
				brcm,function = <0 1 1 1 1>; /*   in    out  out out out */
				brcm,pull = <2 2 0 0 2>; /* pullup none */
			};
		};
	};
	
	fragment@3 {
		target-path = "/soc";
		__overlay__ {
			backlight: backlight {
				compatible = "gpio-backlight";
				gpios = <&gpio 13 0>;
				status = "okay";
			};
		};
	};
	
	fragment@4 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;
			
			pitft: pitft@0 {
				compatible = "mellow,fly-tft-v2";
				pinctrl-names = "default";
				pinctrl-0 = <&pitft_pins>;
				reg = <0>;
				
				spi-max-frequency = <96000000>;
				
				rotation = <90>;
				reset-gpios = <&gpio 19 0>;
				dc-gpios = <&gpio 26 0>;
				backlight = <&backlight>;
				status = "okay";
			};
		};
	};
	
	fragment@5 {
		target = <&i2c1>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;
			
			// touch: touch@14 {
			//         compatible = "goodix,gt911";
			//         reg = <0x14>;
			//         interrupt-parent = <&gpio>;
			//         interrupts = <24 2>; /* high-to-low edge triggered */
			//         pendown-gpio = <&gpio 24 0>;
			//         irq-gpios = <&gpio 24 0>;
			//         reset-gpios = <&gpio 6 2>;
			//         touchscreen-size-x = <320>;
			//         touchscreen-size-y = <480>;
			//         touchscreen-inverted-x;
			//         touchscreen-swapped-x-y;
			//         status = "okay";
			// };
			
			touch: touch@14 {
				compatible = "goodix,gt911";
				reg = <0x14>;
				// interrupt-parent = <&gpio>;
				// interrupts = <24 2>; /* high-to-low edge triggered */
				// pendown-gpio = <&gpio 24 0>;
				// irq-gpios = <&gpio 24 0>;
				reset-gpios = <&gpio 6 0>;
				touchscreen-size-x = <320>;
				touchscreen-size-y = <480>;
				touchscreen-inverted-x;
				touchscreen-swapped-x-y;
				status = "okay";
			};
		};
	};
	
	
	__overrides__ {
		speed =   <&pitft>,"spi-max-frequency: 0";
		rotation =  <&pitft>,"rotation: 0";
		touch-sizex = <&touch>,"touchscreen-size-x?";
		touch-sizey = <&touch>,"touchscreen-size-y?";
		touch-invx  = <&touch>,"touchscreen-inverted-x?";
		touch-invy  = <&touch>,"touchscreen-inverted-y?";
		touch-swapxy = <&touch>,"touchscreen-swapped-x-y?";
	};
};